.vs/
armaradio/bin/
armaradio/obj/
armaradio_ops/bin/
armaradio_ops/obj/
arma_miner/obj/
/arma_miner/bin/Debug/net8.0
/arma_miner/tempFiles
/armaradioSongsAlike/bin/Debug/net8.0
/armaradioSongsAlike/obj
/armaradioSongsAlike/armaradioSongsAlike.csproj.user
/armaradio/wwwroot/tempMp3
/armaoffline/bin/Debug
/armaoffline/obj
/armaradio/wwwroot/AudioFiles
