@using armaoffline.Models
@inject armaoffline.Repositories.IArmaApi _armaApi
@inject armaoffline.Services.GlobalState _globalState
@inject IJSRuntime JS
@page "/armaloader"
@{
    List<ArmaUserPlaylistDataItem> userPlaylists = _armaApi.GetUserPlaylists();
}

<h1>Armaradio</h1>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-text">Playlist:</span>
            <select id="cmbPlaylists" class="form-select" @onchange="OnChangeHandler">
                <option value=""></option>
                @{
                    foreach (var item in userPlaylists)
                    {
                        <option value="@item.Id">@item.PlaylistName</option>
                    }
                }
            </select>
            <button id="btnDownloadPlaylistSongs" @onclick="DownloadSelectedPlaylistSongs" class="btn btn-primary form-control-sm" disabled="disabled">Download Songs</button>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table id="tblSongsList" class="table table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="bottom-gap"></div>

<!-- Download Progress -->
<div class="dv-download-progress-holder p-4" style="display:none;">
    <div class="spinner-border block-item mr-3" role="status">
        <span class="sr-only"></span>
    </div>
    <span id="lblDownloadingCountRemaining"></span>
    <span id="lblDownloadingCurrently"></span>
</div>

@code {
    private static armaoffline.Repositories.IArmaApi _armaStaticApi =
        armaoffline.Providers.ServiceLocator.ServiceProvider.GetRequiredService<armaoffline.Repositories.IArmaApi>();
    private static Action _updateUI;
    private int? selectedPlaylstId;
    private List<ArmaPlaylistDataItem> _downloadQueue { get; set; } = new List<ArmaPlaylistDataItem>();
    private System.Timers.Timer _elapsedQueueTimer;

    protected override void OnInitialized()
    {
        _elapsedQueueTimer = new System.Timers.Timer(1000);
        _elapsedQueueTimer.Elapsed += UpdateQueueElapsedTime;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("onArmaLoaderOnload");

            _updateUI = RefreshPageUI;
            _elapsedQueueTimer.Start();
        }
    }

    private async void UpdateQueueElapsedTime(object sender, System.Timers.ElapsedEventArgs e)
    {
        if (_downloadQueue.Count > 0)
        {
            _elapsedQueueTimer.Stop();

            await Task.Run(async () =>
            {
                int? currentPlaylistId = null;

                while (_downloadQueue.Count > 0)
                {
                    var currentSong = _downloadQueue.FirstOrDefault();

                    if (!currentPlaylistId.HasValue)
                    {
                        currentPlaylistId = currentSong.PlaylistId;
                    }
                    else
                    {
                        if (currentPlaylistId.Value != currentSong.PlaylistId)
                        {
                            _armaStaticApi.MarkPlaylistSongsAsDownloaded(currentPlaylistId.Value);
                            currentPlaylistId = currentSong.PlaylistId;
                        }
                    }

                    List<string> songParts = new List<string>();

                    string fullSongName = $"{((currentSong.Artist ?? "").Trim())}{(!string.IsNullOrWhiteSpace(currentSong.Artist) && !string.IsNullOrWhiteSpace(currentSong.Song) ? " - " : "")}{((currentSong.Song ?? "").Trim())}";

                    await JS.InvokeVoidAsync("updateDownloadQueueMessage", $"({_downloadQueue.Count} remaining):", $"{fullSongName}", true);
                    //StateHasChanged();

                    //_armaStaticApi.GetAudioFile(currentSong.VideoId);

                    //int errorCounter = 0;
                    bool? downloadResulsts = await _armaStaticApi.GetAudioFile(currentSong.VideoId);

                    // while (!downloadResulsts.HasValue && errorCounter < 5)
                    // {
                    //     downloadResulsts = _armaStaticApi.GetAudioFile(currentSong.VideoId);
                    //     errorCounter++;

                    //     await Task.Delay(1000);
                    // }

                    if (downloadResulsts.HasValue)
                    {
                        await JS.InvokeVoidAsync("updateDownloadQueueStatus", currentSong.VideoId, 1);
                    }
                    else
                    {
                        await JS.InvokeVoidAsync("updateDownloadQueueStatus", currentSong.VideoId, 0);
                    }

                    _downloadQueue.RemoveAt(0);
                }

                if (currentPlaylistId.HasValue)
                {
                    _armaStaticApi.MarkPlaylistSongsAsDownloaded(currentPlaylistId.Value);
                }

                await JS.InvokeVoidAsync("updateDownloadQueueMessage", "", "", false);
                //StateHasChanged();

                _elapsedQueueTimer.Start();
            });

        }
    }

    private async void OnChangeHandler(ChangeEventArgs e)
    {
        int? playlistId = (Int32.TryParse(e.Value.ToString(), out int _idValue) ? _idValue : (int?)null);
        List<ArmaPlaylistDataItem> firstPlaylist = new List<ArmaPlaylistDataItem>();

        if (playlistId.HasValue)
        {
            firstPlaylist = _armaApi.GetPlaylistById(playlistId.Value) ?? new List<ArmaPlaylistDataItem>();

            foreach (var song in firstPlaylist)
            {
                if (CheckIfAudioFileExists($"{song.VideoId}.m4a"))
                {
                    song.FileExists = true;
                }
            }
        }

        selectedPlaylstId = playlistId;
        await JS.InvokeVoidAsync("populateSongsToDownloadTable", firstPlaylist, playlistId);

        StateHasChanged();
    }

    private bool CheckIfAudioFileExists(string FileName)
    {
        if (!string.IsNullOrWhiteSpace(FileName))
        {
            string audioFolderPath = Path.Combine(FileSystem.AppDataDirectory, "audio");

            if (!Directory.Exists(audioFolderPath))
            {
                Directory.CreateDirectory(audioFolderPath);
            }

            string filePath = Path.Combine(audioFolderPath, FileName.Trim());

            return File.Exists(filePath);
        }

        return false;
    }

    [JSInvokable]
    public static void DownloadFile(string videoId)
    {
        _armaStaticApi.GetAudioFile(videoId);
    }

    [JSInvokable]
    public static void MarkPlaylistSongsAsDownloaded(int playlistId)
    {
        _armaStaticApi.MarkPlaylistSongsAsDownloaded(playlistId);
    }

    [JSInvokable]
    public static void RefreshUI()
    {
        _updateUI?.Invoke();
    }

    private void RefreshPageUI()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void DownloadSelectedPlaylistSongs()
    {
        await InvokeAsync(async () =>
        {
            await JS.InvokeVoidAsync("showPageWait", true);
            StateHasChanged();
        });

        await Task.Run(async () =>
        {
            if (selectedPlaylstId.HasValue)
            {
                List<ArmaPlaylistDataItem> currentSongs = _armaApi.GetPlaylistById(selectedPlaylstId.Value) ?? new List<ArmaPlaylistDataItem>();
                currentSongs = currentSongs.Where(sg => !_downloadQueue.Any(qs => qs.VideoId == sg.VideoId)).ToList();

                _downloadQueue.AddRange(currentSongs);

                await JS.InvokeVoidAsync("updateDownloadQueueRemainingCount", $"({_downloadQueue.Count} remaining):");
            }
        });

        await InvokeAsync(async () =>
        {
            await JS.InvokeVoidAsync("showPageWait", false);
            StateHasChanged();
        });
    }
}