@using armaoffline.Models
@inject armaoffline.Repositories.IArmaApi _armaApi
@inject armaoffline.Services.GlobalState _globalState
@inject IJSRuntime JS
@page "/armaloader"
@{
    List<ArmaUserPlaylistDataItem> userPlaylists = _armaApi.GetUserPlaylists();
}

<h1>Armaradio</h1>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-text">Playlist:</span>
            <select id="cmbPlaylists" class="form-select" @onchange="OnChangeHandler">
                <option value=""></option>
                @{
                    foreach (var item in userPlaylists)
                    {
                        <option value="@item.Id">@item.PlaylistName</option>
                    }
                }
            </select>
            <button id="btnDownloadPlaylistSongs" @onclick="DownloadSelectedPlaylistSongs" class="btn btn-primary form-control-sm" disabled="disabled">Download Songs</button>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table id="tblSongsList" class="table table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>

@code {
    private static armaoffline.Repositories.IArmaApi _armaStaticApi =
        armaoffline.Providers.ServiceLocator.ServiceProvider.GetRequiredService<armaoffline.Repositories.IArmaApi>();
    private static Action _updateUI;
    private int? selectedPlaylstId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("onArmaLoaderOnload");

            _updateUI = RefreshPageUI;
        }
    }

    private async void OnChangeHandler(ChangeEventArgs e)
    {
        int? playlistId = (Int32.TryParse(e.Value.ToString(), out int _idValue) ? _idValue : (int?)null);
        List<ArmaPlaylistDataItem> firstPlaylist = new List<ArmaPlaylistDataItem>();

        if (playlistId.HasValue)
        {
            firstPlaylist = _armaApi.GetPlaylistById(playlistId.Value);
        }

        selectedPlaylstId = playlistId;
        await JS.InvokeVoidAsync("populateSongsToDownloadTable", firstPlaylist, playlistId);

        StateHasChanged();
    }

    [JSInvokable]
    public static void DownloadFile(string videoId)
    {
        _armaStaticApi.GetAudioFile(videoId);
    }

    [JSInvokable]
    public static void MarkPlaylistSongsAsDownloaded(int playlistId)
    {
        _armaStaticApi.MarkPlaylistSongsAsDownloaded(playlistId);
    }

    [JSInvokable]
    public static void RefreshUI()
    {
        _updateUI?.Invoke();
    }

    private void RefreshPageUI()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void DownloadSelectedPlaylistSongs()
    {
        await JS.InvokeVoidAsync("showPageWait", true);
        await JS.InvokeVoidAsync("downloadSelectedPlaylistSongs", selectedPlaylstId);
        await JS.InvokeVoidAsync("showPageWait", false);
    }
}