@using armaoffline.Models
@inject armaoffline.Repositories.IArmaApi _armaApi
@inject armaoffline.Services.GlobalState _globalState
@inject armaoffline.Data.IDapperHelper _dapper
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject MauiProgram.StartupErrorService _startupErrorService
@page "/"
@{
    
}

<div class="row">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <span class="input-group-text col-4" id="basic-addon1">User Name</span>
            <input id="txtMainUserName" type="text" class="form-control" placeholder="Username" aria-label="Username" @bind="userName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <span class="input-group-text col-4" id="basic-addon1">Password</span>
            <input id="txtMainPassword" type="password" class="form-control" placeholder="Password" aria-label="Password" @bind="password" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" @onclick="Login">Login</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span id="lblLoginError"></span>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md-12">
        <div class="line-division-gray"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">User</span>
            <select id="cmbOfflinePlaylists" class="form-select" @onchange="OnChangeOfflineUserslistsHandler">
                @* <option value=""></option> *@
                @{
                    foreach (var item in offlineUsers)
                    {
                        <option value="@item.id">@item.username</option>
                    }
                }
            </select>
            <button id="btnLoadOfflinePlayerForUser" class="btn btn-primary" @onclick="InitializeOfflinePlayerForUser">Load</button>
        </div>
    </div>
</div>
<div id="dvStartupErrors">
    @if (_startupErrorService != null && _startupErrorService.ErrorMessage != null && _startupErrorService.ErrorMessage.Count > 0)
    {
        foreach (var error in _startupErrorService.ErrorMessage)
        {
            <div class="mt-2 font-red">
                @(error)
            </div>
        }
    }
</div>

@code {
    List<ArmaUserDataItem> offlineUsers { get; set; } = new List<ArmaUserDataItem>();
    private string userName = string.Empty;
    private string password = string.Empty;
    private string token = string.Empty;
    private int? offlineUserId = null;

    protected override void OnInitialized()
    {
        try
        {
            offlineUsers = _armaApi.Offline_GetListOfOfflineUsers() ?? new List<ArmaUserDataItem>();

            if (offlineUsers.Count > 0)
            {
                offlineUserId = offlineUsers.FirstOrDefault().id;
            }
        }
        catch (Exception ex)
        {

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dapper.CreateDatabase();
        }
    }

    private async void Login()
    {
        await JS.InvokeVoidAsync("loginError", "");

        if (!string.IsNullOrWhiteSpace(userName) && !string.IsNullOrWhiteSpace(password))
        {
            try
            {
                await InvokeAsync(async () =>
                {
                    await JS.InvokeVoidAsync("showPageWait", true);
                    StateHasChanged();
                });

                await Task.Run(async () =>
                {
                    if (_armaApi.Signin(userName, password))
                    {
                        Navigation.NavigateTo("/armaloader");
                    }
                    else
                    {
                        await JS.InvokeVoidAsync("loginError", "Incorrect 'UserName' or 'Password'");
                    }
                });

                await InvokeAsync(async () =>
                {
                    await JS.InvokeVoidAsync("showPageWait", false);
                    StateHasChanged();
                });
            }
            catch (Exception ex)
            {
                await JS.InvokeVoidAsync("loginError", ex.Message.ToString());
            }
        }
        else
        {
            await JS.InvokeVoidAsync("loginError", "'UserName'/'Password' are required");
        }
    }

    private async void InitializeOfflinePlayerForUser()
    {
        if (offlineUserId.HasValue)
        {
            Navigation.NavigateTo($"/offlineplayer?userid={offlineUserId.Value}");
        }
    }

    private async void OnChangeOfflineUserslistsHandler(ChangeEventArgs e)
    {
        offlineUserId = (Int32.TryParse(e.Value.ToString(), out int _idValue) ? _idValue : (int?)null);
    }
}
