html body .vjs-poster {
    background-size: cover;
    background-position: center;
    display: block !important;
}
html body .vjs-poster img {
    object-fit: cover !important;
}
.bottom-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
div.bottom-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #080707;
    opacity: 0.9;
}

div.spacer-bottom {
    height: 190px;
}

div.iframe-holder {
    display: inline-block;
    width: 356px;
    height: 200px;
    background-color: black;
    padding-top:25px;
    padding-left: 40px;
}
span.lbl-not-found {
    font-weight: bold;
    color: white;
}

#tblMainPlayList {
    border-collapse: collapse;
    width: 100%;
}

div.div-thumbnail {
    display: block;
    width: 65px;
    height: 50px;
    filter: blur(3px);
    margin: 5px;
}

#armaMainPlayer {
    width: 356px;
    height: 200px;
}

#lblRadioPlayer_SongTitle {
    color: #b54d00;
}

#tblMainPlayList td {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

#tblMainPlayList td:first-child {
    border-left: 1px solid #EAEAEA;
    width: 100px;
}

#tblMainPlayList td:last-child {
    border-right: 1px solid #EAEAEA;
}

#tblMainPlayList tr td:last-child {
    position: relative;
}


#btnMainPlayerToggleRepeat[data-status='0'] i {
    color: #e5dcdc;
}
#btnMainPlayerToggleRepeat[data-status='1'] i {
    color: #48fb47;
}

#tblMainPlayList div.row-actions-cotrols {
    position: absolute;
    /*width: 100px;*/
    top: 50%;
    right: 8px;
    margin-top: -12px;
    white-space: nowrap;
}
#tblMainPlayList div.row-actions-cotrols {
    display: none;
}
#tblMainPlayList tr:hover div.row-actions-cotrols {
    display: block;
}


#tblMainPlayList button.btn-play-top-song {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
}

#tblMainPlayList button.btn-play-top-song {
    display: none;
}
#tblMainPlayList tr:hover button.btn-play-top-song {
    display: block;
}
#tblMainPlayList tr:not(.now-playing):hover td {
    background-color: #f4f8fb;
}

#tblMainPlayList tr.now-playing td {
    background-color: #D1EBFF;
}

#tblMainPlayList tr.now-playing td:last-child {
    position: relative;
}
#tblMainPlayList a.btn-inner-more-options {
    cursor: pointer;
}
#tblMainPlayList a.btn-inner-more-none-list-options {
    cursor: pointer;
}

div.list-container {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#spSearchSpinner {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 777;
}

#txtPastedPlaylist {
    width: 100%;
    height: 150px;
    padding: 8px;
    resize: none;
}

#cmbMasterSearchOptions li a {
    position: relative;
    padding-left: 40px;
}

#cmbMasterSearchOptions li a i {
    position: absolute;
    top: 0;
    margin-top: 8px;
    left: 10px;
}
/*
#offcanvasArtistAlbums {
    visibility: visible !important;
}*/

#ulArtistsFound {
    font-size: 9pt;
}

#dvTypeAheadSearch_Artists {
    position: absolute;
    top: 100%;
    left: 52px;
    right: 0;
    background-color: white;
}

#dvArtistAlbumsOpen {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 6px;
}

#btnArtistAlbumsOpen {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btnClearSelectedArtist {
    position: absolute;
    top: 0;
    margin-top: -6px;
    right: 0;
    margin-right: -8px;
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 22;
}

#btnClearSelectedArtist i {
    position: absolute;
    font-size: 16pt;
    color: #ff0021;
}

#tblArtistAlbums {
    border-collapse: collapse;
    width: 100%;
}

#tblArtistAlbums td {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

#tblArtistAlbums i {
    font-size: 20pt;
    color: #e77c7c;
}

#tblArtistAlbums td:first-child {
    border-left: 1px solid #EAEAEA;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

#tblArtistAlbums td:last-child {
    border-right: 1px solid #EAEAEA;
}

#tblArtistAlbums tr.loaded td {
    background-color: #D1EBFF;
}

#tblArtistAlbums tr td:last-child {
    position: relative;
}

#tblArtistAlbums button.btn-load-album {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}

#tblArtistAlbums button.btn-load-album {
    display: none;
}

#tblArtistAlbums tr:hover button.btn-load-album {
    display: block;
}






#tblArtistSingles {
    border-collapse: collapse;
    width: 100%;
}

#tblArtistSingles td {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

#tblArtistSingles i {
    font-size: 20pt;
    color: #e77c7c;
}

#tblArtistSingles td:first-child {
    border-left: 1px solid #EAEAEA;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

#tblArtistSingles td:last-child {
    border-right: 1px solid #EAEAEA;
}

#tblArtistSingles tr.loaded td {
    background-color: #D1EBFF;
}

#tblArtistSingles tr td:last-child {
    position: relative;
}

#tblArtistSingles button.btn-load-album {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}

#tblArtistSingles button.btn-load-album {
    display: none;
}

#tblArtistSingles tr:hover button.btn-load-album {
    display: block;
}

#dvRadioPlayerHolder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

#dvRadioPlayerHolder div.backdrop-color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
}

#lnkCloseRadio {
    position: absolute;
    color: white;
    font-size: 30pt;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
}

#dvRadioPlayerHolder div.main-rad-container {
    position: absolute;
    width: 356px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F1F3F8;
    border-radius: 30px;
    min-height: 250px;
    left: 50%;
    top: 15%;
    margin-left: -178px;
}

.playercontrol-button {
    color: #e14b4b;
    font-size: 30pt;
}

a.playercontrol-button {
    cursor: pointer;
}

#lnkRadioPlayer_HateSong i::after {
    content: "Skip";
    position: absolute;
    font-size: 6pt;
    top: 0;
    left: 0;
    margin-top: 24px;
    margin-left: 16px;
}