.bottom-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
div.bottom-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkslategray;
    opacity: 0.9;
}

div.spacer-bottom {
    height: 190px;
}

div.iframe-holder {
    display: inline-block;
    width: 356px;
    height: 200px;
    background-color: black;
    padding-top:25px;
    padding-left: 40px;
}
span.lbl-not-found {
    font-weight: bold;
    color: white;
}

#tblMainPlayList {
    border-collapse: collapse;
}

#tblMainPlayList td {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
    border-bottom: 1px solid #85b7b7;
}

#tblMainPlayList tr td:last-child {
    position: relative;
}

#tblMainPlayList button.btn-play-top-song {
    position: absolute;
    top: 0;
    right: 0;
}

#tblMainPlayList button.btn-play-top-song {
    display: none;
}
#tblMainPlayList tr:hover button.btn-play-top-song {
    display: block;
}

#tblMainPlayList tr.now-playing td {
    color: #2b8ce1;
}

#tblMainPlayList tr.now-playing td:last-child {
    position: relative;
}

div.list-container {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#txtPastedPlaylist {
    width: 100%;
    height: 150px;
    padding: 8px;
    resize: none;
}