.bottom-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
div.bottom-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
}

div.spacer-bottom {
    height: 190px;
}

div.iframe-holder {
    display: inline-block;
    width: 356px;
    height: 200px;
    background-color: black;
    padding-top:25px;
    padding-left: 40px;
}
span.lbl-not-found {
    font-weight: bold;
    color: white;
}

#tblMainPlayList {
    border-collapse: collapse;
    width: 100%;
}

div.div-thumbnail {
    display: block;
    width: 65px;
    height: 50px;
    filter: blur(3px);
    margin: 5px;
}

#tblMainPlayList td {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

#tblMainPlayList td:first-child {
    border-left: 1px solid #EAEAEA;
}

#tblMainPlayList td:last-child {
    border-right: 1px solid #EAEAEA;
}

#tblMainPlayList tr td:last-child {
    position: relative;
}

#tblMainPlayList button.btn-play-top-song {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
}

#tblMainPlayList button.btn-play-top-song {
    display: none;
}
#tblMainPlayList tr:hover button.btn-play-top-song {
    display: block;
}
#tblMainPlayList tr:not(.now-playing):hover td {
    background-color: #f4f8fb;
}

#tblMainPlayList tr.now-playing td {
    background-color: #D1EBFF;
}

#tblMainPlayList tr.now-playing td:last-child {
    position: relative;
}

div.list-container {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#txtPastedPlaylist {
    width: 100%;
    height: 150px;
    padding: 8px;
    resize: none;
}