html, body, span, div, label, input[type=text], button, a {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#dvHomePlayerBottomControls a.lnk-attribution-notice {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 115px;
    color: #007bff;
    font-size: 16pt;
}

#dvRadioPlayerHolder a.lnk-attribution-notice {
    position: absolute;
    top: 0;
    margin-top: 18px;
    left: 0;
    margin-left: 10px;
    color: #007bff;
    font-size: 18pt;
}

.text-justify {
    text-align: justify;
    display: table-row;
    text-align-last: left;
}

.inline-block {
    display: inline-block;
}

.site-icon-color {
    color: #f75252;
}

html body .btn-primary {
    background-color: #e77c7c;
    border-color: #e77c7c;
}

html body .btn-primary:hover {
    background-color: #e14b4b;
    border-color: #e14b4b;
}

html body .btn-primary:focus {
    background-color: #e14b4b;
    border-color: #e14b4b;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f2b5b5;
}

html body input[type=text]:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f2b5b5;
    border-color: #c4bcbc;
}

html body .form-select:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f2b5b5;
    border-color: #c4bcbc;
}

html body .popup-header-title {
    font-size: 1.25rem;
    font-weight: 500;
}

/***  Image downloaded from
    https://unsplash.com/s/photos/soft-background?license=free **/
body {
    background: url(../images/neutral-bkg-1.jpg) center center / cover no-repeat fixed;
}

.bg-bluetitle {
    background-color: #212529;
}

.text-white {
    color: white;
}

.site-moniker {
    background-color: white;
    opacity: 0.7;
}
/*div.main-body-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    filter: drop-shadow(16px 16px 20px #cdd1dd);
}*/
/*div.main-body-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/back-main-2.png) no-repeat center center / cover;
    z-index: -2;
    filter: sepia(200%) brightness(82%) contrast(142%) blur(2px);
}*/
div.main-background-color {
    background-color: white; /*#d9d9d9*/
    /*-webkit-box-shadow: 0px 0px 45px 30px rgba(195,195,195);
    -moz-box-shadow: 0px 45px 30px rgba(195,195,195);
    box-shadow: 0px 0px 45px 30px #1C5A56;*/
    border-radius: 5px 5px 0 0;
}

div.main-info-footer-color {
    background: url(../images/corner-flowers.png) top left no-repeat;
    background-color: #00172f;
}

div.main-info-footer-color span {
    color: white;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

div.master-page-wait {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8888;
}

div.master-page-wait .spinner-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.5;
}

div.master-page-wait .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
}

#dvMasterWarning {
    z-index: 99999;
}

#dvMasterWarning.show ~ div.modal-backdrop.show:last-child {
    z-index: 8888 !important;
}

#dvMasterWarning table {
    border-collapse: collapse;
    width: 100%;
}
#dvMasterWarning table td {
    vertical-align: top;
}
#dvMasterWarning table td:first-child {
    width: 65px;
}
#dvMasterWarning table td:last-child {
    padding-top: 20px;
    padding-left: 20px;
}

.font-color-gray {
    color: #7d7b7b;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.relative {
    position: relative;
}

.font-sz-0 {
    font-size: 0;
}
.font-sz-11pt {
    font-size: 11pt;
}

.overflow-auto {
    overflow: auto;
}

.show-overflow {
    overflow: visible;
}