html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: #EAEDF6;
}

/*div.main-body-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    filter: drop-shadow(16px 16px 20px #cdd1dd);
}*/

/*div.main-body-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/back-main-2.png) no-repeat center center / cover;
    z-index: -2;
    filter: sepia(200%) brightness(82%) contrast(142%) blur(2px);
}*/

div.main-background-color {
    background-color: white;
    -webkit-box-shadow: 0px 0px 45px 30px rgba(195,195,195);
    -moz-box-shadow: 0px 45px 30px rgba(195,195,195);
    box-shadow: 0px 0px 45px 30px rgba(195,195,195);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.master-page-wait {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8888;
}

div.master-page-wait .spinner-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.5;
}

div.master-page-wait .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
}

#dvMasterWarning {
    z-index: 99999;
}

#dvMasterWarning.show ~ div.modal-backdrop.show:last-child {
    z-index: 8888 !important;
}

#dvMasterWarning table {
    border-collapse: collapse;
    width: 100%;
}
#dvMasterWarning table td {
    vertical-align: top;
}
#dvMasterWarning table td:first-child {
    width: 65px;
}
#dvMasterWarning table td:last-child {
    padding-top: 20px;
    padding-left: 20px;
}

.font-color-gray {
    color: #7d7b7b;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.relative {
    position: relative;
}

.font-sz-0 {
    font-size: 0;
}
.font-sz-11pt {
    font-size: 11pt;
}