.wait-spinner {
    /*height: 30px;
    width: 30px;*/
    animation: rotation .5s infinite linear;
    border-left: 3px solid rgba(250, 128, 114, .15);
    border-right: 3px solid rgba(250, 128, 114, .15);
    border-bottom: 3px solid rgba(250, 128, 114, .15);
    border-top: 3px solid rgba(250, 128, 114, .8);
    border-radius: 100%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
