
@{
    ViewData["Title"] = "Arma Radio";

    bool userIsAuthenticated = (this.Context.User?.Identity?.IsAuthenticated ?? false);
}

<link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />

<button id="btnArtistAlbumsOpen" class="btn btn-primary" style="display:none;">
    <i class="fa-solid fa-compact-disc mr-2"></i>
    <span>View Albums</span>
</button>
<div class="row mt-4 pt-3">
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Popular:</span>
                    </div>
                    <select id="cmbMainOptions" class="form-select">
                        <option value="1" selected="selected">Top 100</option>
                        <option value="2">Top 40 Dance Singles</option>
                        <option value="3">Trance Top 100</option>
                        <option value="4">Trance Hype 100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-9">
                <div class="input-group relative mb-3">
                    <div class="input-group-prepend">
                        <div id="cmbMasterSearchOptions" class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item active" href="#" data-type="1"><i class="fa-solid fa-user"></i> Artists</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" data-type="2"><i class="fa-brands fa-youtube"></i> General</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" data-type="3"><i class="fa-solid fa-radio"></i> Radio</a>
                                </li>
                                @* 
                                <li>
                                    <a class="dropdown-item" href="#" data-type="3"><i class="fa-solid fa-shuffle"></i> Radio</a>
                                </li> *@
                            </ul>
                        </div>
                    </div>
                    <input id="txtMainGeneralSearch" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" autocomplete="off_hack_987dfa9df9" placeholder="Artist Search" />
                    <div id="dvTypeAheadSearch_Artists">
                        <ul id="ulArtistsFound" class="dropdown-menu show" style="display:none;"></ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <button id="btnMain_GeneralSearch" type="button" class="btn btn-primary mr-3 pl-3 pr-3" style="display:none;">Find</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button id="btnMain_LoadPlaylist" type="button" class="btn btn-primary mr-3">Load Playlist</button>
    </div>
    <div class="col-md-6">        
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h5 id="lblTblHeaderPlaylistName" class="ml-2 mr-3" data-playlistid=""></h5>
        <button id="btnMain_StartRadioSession" type="button" class="btn btn-primary mr-3" data-artistname="" style="display:none;"><i class="fa-solid fa-radio"></i> Play Artist-Inspired Radio</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="tblMainPlayList"></table>
    </div>
</div>

<div class="bottom-controls">
    <div class="bottom-backcolor"></div>
    <div class="container relative">
        <div class="row">
            <div class="col-md-5">
                <div id="dvMainPlay_currentlyPlaying">
                    <div class="iframe-holder"></div>
                </div>
                <div class="pb-1">
                    <button id="btnMainPlayerToggleRepeat" class="btn btn-primary font-sz-0 pt-1 pb-1" data-status="0" title="repeat off">
                        <i class="fa-solid fa-repeat font-sz-11pt"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="relative">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dvPopupPastePlaylist" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paste Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <span>example: "Beatles | Yesterday"</span>
                </div>
                @if (userIsAuthenticated)
                {
                    <div class="mt-2">
                        <label class="font-color-gray">
                            <input id="chkPastePlaylist_CreateNewPlaylist" type="checkbox" /> Save to new playlist
                        </label>
                    </div>
                    <div id="dvPastePlaylist_PlaylistNameHolder" class="mt-2" style="display:none;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Playlist Name:</span>
                            </div>
                            <input id="txtPasterPlaylistName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                        </div>
                    </div>
                }
                <div class="mt-2">
                    <textarea id="txtPastedPlaylist" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnPopup_Apply" type="button" class="btn btn-primary mr-5">Apply</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="offcanvasArtistAlbums" class="offcanvas offcanvas-start xs-w-100pc sm-w-100pc md-w-50pc lg-w-50pc xl-w-50pc" tabindex="-1" aria-labelledby="offcanvasArtistAlbumsRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasArtistAlbumsRightLabel">Albums</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-auto">
        <div>
            <span>Albums</span>
        </div>
        <div>
            <table id="tblArtistAlbums"></table>
        </div>
        <div class="mt-3">
            <span>Singles</span>
        </div>
        <div>
            <table id="tblArtistSingles"></table>
        </div>
        @* <div>
            <button id="btnNonePlaylistOptions_AddToPlaylist" class="btn btn-primary">Add to Playlist</button>
        </div> *@
    </div>
</div>

@if (userIsAuthenticated)
{
    <div id="dvRadioPlayerHolder" style="display:none;">
        <div class="backdrop-color"></div>
        <div class="main-rad-container">
            <div class="relative">
                <a id="lnkRadioOptions" href="#" class="position-absolute pos-b-0 pos-r-0 mr-2"><i class="fa-solid fa-ellipsis-vertical pl-2 pr-2"></i></a>
            </div>
            <div id="dvRadioPlayer_currentlyPlaying" class="align-center">
                <div class="iframe-holder pl-0 pt-0"></div>
            </div>
            <div class="align-center">
                <span id="lblRadioPlayer_SongTitle"></span>
            </div>
            <div class="align-center">
                <strong><span id="lblRadioPlayer_ArtistName"></span></strong>
            </div>
            <div class="align-center mt-3">
                <a id="lnkRadioPlayer_LikeSong" class="playercontrol-button mr-4"><i class="fa-solid fa-thumbs-up"></i></a>
                <a id="lnkRadioPlayer_HateSong" class="playercontrol-button relative"><i class="fa-solid fa-arrow-rotate-right"></i></a>
            </div>
        </div>
        <a id="lnkCloseRadio" href="#"><i class="fa-solid fa-xmark"></i></a>
    </div>

    <div id="offcanvasNonePlaylistOptions" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasNonePlaylistOptionsRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasNonePlaylistOptionsRightLabel" data-clicks="0">Add to Playlist</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <span id="lblNonePlaylistOptionsTitle"></span>
            </div>
            <div>
                <button id="btnPlaylist_StartRadioSession" type="button" class="btn btn-primary mr-3"><i class="fa-solid fa-radio"></i> Play Song-Inspired Radio</button>
                <button id="btnPlaylist_DownloadSong" class="btn btn-primary btn-options-download" style="display:none;"><i class="fa-solid fa-cloud-arrow-down"></i></button>
            </div>
            <div class="mt-4">
                <label class="font-color-gray">
                    <input id="chkAddToPlaylist_CreateNewPlaylist" type="checkbox" /> Save to new playlist
                </label>
            </div>
            <div id="dvAddToPlaylistName_Holder" class="add-to-playlist-holder-dv mt-2" style="display:none;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Playlist Name:</span>
                    </div>
                    <input id="txtAddToPlaylistNewPlaylistName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                </div>
            </div>
            <div id="dvAddToPlaylistCmbList_Holder" class="add-to-playlist-holder-dv mt-2">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Playlist:</span>
                        </div>
                        <select id="cmbAddToPlaylistNames" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div>
                <button id="btnNonePlaylistOptions_AddToPlaylist" class="btn btn-primary">Add to Playlist</button>
            </div>
        </div>
    </div>

    <div id="offcanvasSongOptions" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasSongOptionsRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasSongOptionsRightLabel">Song Options</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <span id="lblSongOptionsTitle"></span>
            </div>
            <div>
                <button id="btnSongOptions_StartRadioSession" type="button" class="btn btn-primary mr-3"><i class="fa-solid fa-radio"></i> Play Song-Inspired Radio</button>
                <button id="btnSongOptions_DownloadSong" class="btn btn-primary btn-options-download" style="display:none;"><i class="fa-solid fa-cloud-arrow-down"></i></button>
            </div>
            <div class="mt-4">
                <button id="btnSongOptions_RemoveFromPlaylist" type="button" class="btn btn-danger" data-id="" data-bs-toggle="popover" title="Confirm Delete" data-bs-content="">Remove from Playlist</button>
            </div>
        </div>
    </div>

    <div class="modal" id="dvPopupLoadPlaylists" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title popup-header-title mr-3">Load Playlist</span>
                    <button id="btnLoadPL_StartRadioFromPlaylistsSongs" type="button" class="justify-start btn btn-primary"><i class="fa-solid fa-shuffle"></i> Play Random Playlist Songs</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Load:</span>
                                </div>
                                <select id="cmbLoadPlaylistNames" class="form-select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnPopupLoadPlaylist" type="button" class="btn btn-primary mr-5">Load</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="dvPopupRefineRadioParameters" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="lblRefineRadioParameters_Title" class="modal-title">Refine Radio Parameters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span id="lblRefineRadioParameters_Message">Unable to create a radio session from your selection. Please refine these parameters and try again:</span>
                    </div>
                    <div class="mt-3">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Artist:</span>
                                </div>
                                <input id="txtRefineParameters_ArtistName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Song:</span>
                                </div>
                                <input id="txtRefineParameters_SongName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnRefineParametersStartRadio" type="button" class="btn btn-primary mr-5">Start Radio</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@* <script src="https://www.youtube.com/iframe_api"></script> *@

<script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
<script src="~/js/vjs-soundwaves.js" asp-append-version="true"></script>
@if (userIsAuthenticated)
{
    <script src="~/js/radioplayer.js" asp-append-version="true"></script>
}
<script src="~/js/home.js" defer asp-append-version="true"></script>