
@{
    ViewData["Title"] = "Arma Radio";

    bool userIsAuthenticated = (this.Context.User?.Identity?.IsAuthenticated ?? false);
}

<link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />

<div class="text-left">
    <h1 class="display-6">Arma Radio</h1>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Options:</span>
                    </div>
                    <select id="cmbMainOptions" class="form-select">
                        <option value="1" selected="selected">Top 100</option>
                        <option value="2">Top 40 Dance Singles</option>
                        <option value="3">Trance Top 100</option>
                        <option value="4">Trance Hype 100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-9">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">General Search:</span>
                    </div>
                    <input id="txtMainGeneralSearch" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col">
                <button id="btnMain_GeneralSearch" type="button" class="btn btn-primary mr-3">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button id="btnMain_LoadPlaylist" type="button" class="btn btn-primary mr-3">Load Playlist</button>
    </div>
    <div class="col-md-6">        
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h5 id="lblTblHeaderPlaylistName" class="ml-2" data-playlistid=""></h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="tblMainPlayList"></table>
    </div>
</div>

<div class="spacer-bottom"></div>
<div class="bottom-controls">
    <div class="bottom-backcolor"></div>
    <div class="container relative">
        <div class="row">
            <div class="col-md-5">
                <div id="dvMainPlay_currentlyPlaying">
                    <div class="iframe-holder"></div>
                </div>
                <div class="pb-1">
                    <button id="btnMainPlayerToggleRepeat" class="btn btn-primary font-sz-0 pt-1 pb-1" data-status="0" title="repeat off">
                        <i class="fas fa-redo font-sz-11pt"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="relative">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dvPopupPastePlaylist" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paste Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <span>example: "Beatles | Yesterday"</span>
                </div>
                @if (userIsAuthenticated)
                {
                    <div class="mt-2">
                        <label class="font-color-gray">
                            <input id="chkPastePlaylist_CreateNewPlaylist" type="checkbox" /> Save to new playlist
                        </label>
                    </div>
                    <div id="dvPastePlaylist_PlaylistNameHolder" class="mt-2" style="display:none;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Playlist Name:</span>
                            </div>
                            <input id="txtPasterPlaylistName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                        </div>
                    </div>
                }
                <div class="mt-2">
                    <textarea id="txtPastedPlaylist" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnPopup_Apply" type="button" class="btn btn-primary mr-5">Apply</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (userIsAuthenticated)
{
    <div id="offcanvasNonePlaylistOptions" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasNonePlaylistOptionsRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasNonePlaylistOptionsRightLabel">Add to Playlist</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <span id="lblNonePlaylistOptionsTitle"></span>
            </div>
            <div class="mt-4">
                <label class="font-color-gray">
                    <input id="chkAddToPlaylist_CreateNewPlaylist" type="checkbox" /> Save to new playlist
                </label>
            </div>
            <div id="dvAddToPlaylistName_Holder" class="add-to-playlist-holder-dv mt-2" style="display:none;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Playlist Name:</span>
                    </div>
                    <input id="txtAddToPlaylistNewPlaylistName" type="text" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-default" atocomplete="off_hack3463453453">
                </div>
            </div>
            <div id="dvAddToPlaylistCmbList_Holder" class="add-to-playlist-holder-dv mt-2">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Playlist:</span>
                        </div>
                        <select id="cmbAddToPlaylistNames" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div>
                <button id="btnNonePlaylistOptions_AddToPlaylist" class="btn btn-primary">Add to Playlist</button>
            </div>
        </div>
    </div>

    <div id="offcanvasSongOptions" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasSongOptionsRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasSongOptionsRightLabel">Song Options</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <span id="lblSongOptionsTitle"></span>
            </div>
            <div class="mt-4">
                <button id="btnSongOptions_RemoveFromPlaylist" type="button" class="btn btn-danger" data-id="" data-bs-toggle="popover" title="Confirm Delete" data-bs-content="">Remove from Playlist</button>
            </div>
        </div>
    </div>

    <div class="modal" id="dvPopupLoadPlaylists" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Load Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Load:</span>
                                </div>
                                <select id="cmbLoadPlaylistNames" class="form-select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnPopupLoadPlaylist" type="button" class="btn btn-primary mr-5">Load Selected</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://www.youtube.com/iframe_api"></script>
<script src="~/js/home.js" defer asp-append-version="true"></script>