
@{
    ViewData["Title"] = "Arma Radio";
}

<link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />

<div class="text-left">
    <h1 class="display-6">Arma Radio</h1>
</div>
<div class="row mb-4">
    <div class="col-md-6">
        <button id="btnMain_PlayTop100" class="btn btn-primary mr-4">Top 100</button>
        <button id="btnMain_PlayTop50UserPicked" class="btn btn-primary mr-4">Top 50 user-picked Songs</button>
        <button id="btnMain_UploadPlaylist" type="button" class="btn btn-primary mr-3">Paste Playlist</button>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-9">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">General Search:</span>
                    </div>
                    <input id="txtMainGeneralSearch" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col">
                <button id="btnMain_GeneralSearch" type="button" class="btn btn-primary mr-3">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <table id="tblMainPlayList"></table>
    </div>
</div>

<div class="spacer-bottom"></div>
<div class="bottom-controls">
    <div class="bottom-backcolor"></div>
    <div class="container relative">
        <div class="row">
            <div class="col-md-5">
                <div id="dvMainPlay_currentlyPlaying">
                    <div class="iframe-holder"></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="relative">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="dvPopupPastePlaylist" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Paste Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>example: "Beatles | Yesterday"</p>
                <textarea id="txtPastedPlaylist" class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button id="btnPopup_Apply" type="button" class="btn btn-primary mr-5">Apply</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="~/js/home.js" defer asp-append-version="true"></script>