html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.status-bar-safe-area {
    display: none;
}

.line-division-gray {
    border-top: 1px solid #CED4DA;
}

.font-sz-11pt {
    font-size: 11pt;
}

div.master-page-wait {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8888;
}

div.master-page-wait .spinner-backcolor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.5;
}

div.master-page-wait .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
}

div.div-thumbnail-holder {
    display: block;
    width: 65px;
    height: 65px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 4px 2px 8px rgb(0 0 0 / 52%);
}

div.div-thumbnail {
    position: relative;
    display: block;
    width: 65px;
    height: 65px;
    /*filter: blur(3px);*/
    /*margin: 5px;*/
    border-radius: 50%;
    /*box-shadow: 4px 2px 8px rgb(0 0 0 / 52%);*/
}

div.div-thumbnail::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e77c7c;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    background-color: #def1ff;
}

#tblMainPlayList {
    border-collapse: collapse;
    width: 100%;
}

#tblMainPlayList td {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    background-color: #def1ff;
    box-shadow: inset 0 -15px 25px -8px rgb(157 157 157 / 20%);
}

#tblMainPlayList td:first-child {
    /*border-left: 1px solid #EAEAEA;*/
    width: 100px;
}

#tblMainPlayList tr td:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#tblMainPlayList tr td:last-child {
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#tblMainPlayList tr:hover div.div-thumbnail::before {
    background-color: #f4f8fb;
}

#tblMainPlayList div.row-actions-cotrols {
    position: absolute;
    /*width: 100px;*/
    top: 50%;
    right: 8px;
    margin-top: -12px;
    white-space: nowrap;
}

#tblMainPlayList div.row-actions-cotrols {
    display: none;
}

#tblMainPlayList tr:hover div.row-actions-cotrols {
    display: block;
}


#tblMainPlayList button.btn-play-top-song {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
}

/*#tblMainPlayList button.btn-play-top-song {
    display: none;
}

#tblMainPlayList tr:hover button.btn-play-top-song {
    display: block;
}*/

#tblMainPlayList tr:not(.now-playing):hover td {
    background-color: #f4f8fb;
}

#tblMainPlayList tr.now-playing td {
    background-color: #fbd3d3 /*#ffefef*/;
}

#tblMainPlayList tr.now-playing div.div-thumbnail::before {
    background-color: #fbd3d3;
}

#tblMainPlayList tr.now-playing:hover div.div-thumbnail::before {
    background-color: #fbd3d3;
}

#tblMainPlayList tr.now-playing div.div-thumbnail {
    animation: rotation 3.0s infinite linear;
}

#tblMainPlayList tr.now-playing td:last-child {
    position: relative;
}

#tblMainPlayList a.btn-inner-more-options {
    cursor: pointer;
}

#tblMainPlayList a.btn-inner-more-none-list-options {
    cursor: pointer;
}

div.bottom-gap {
    height: 250px;
}

div.screen-sleep-dimmed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
}

div.screen-sleep-dimmed:not(.show) {
    display: none;
}

div.screen-sleep-now-playing {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

div.player-float-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9ECEF;
    border: 1px solid #CED4DA;
    text-align: center;
    z-index: 3;
}

div.player-body {
    padding: 12px;
    display: inline-block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.player-btn {
    display: inline-block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.player-btn.player-pause .player-inner {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/player_pause.png) no-repeat center center / cover;
}
.player-btn.player-play .player-inner {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/player_play.png) no-repeat center center / cover;
}
.player-btn.player-next .player-inner {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/player_skip.png) no-repeat center center / cover;
}

.font-white {
    color: white;
}

.block-item {
    display: inline-block;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
